body {
  padding-top: 55px;
}
.sidebar.affix {
  top: 70px;
  width: 260px;
}
.list-group-item {
  border: 1px solid #fff;
}
.pagination>li>a, .pagination>li>span {
  border-radius: 50% !important;
  margin: 0 2px;
}
